body {
  margin: auto;
}
h1 {
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
  display: flex;
 justify-content: center;
 margin: auto;
 margin-bottom: 40px;
}

p {
  position: relative;
  text-align: center;
}


footer {
text-align: center;
padding-top: 200px;

}

ul {
  position: relative;
  text-align: center;
  list-style: none;
}
