h1 {
  text-align: center;
}

img {
  max-width: 200px;
  display: flex;
 justify-content: center;
 margin: auto;
}




.attribute {
  text-align: center;
}

ul {
  position: relative;
  text-align: center;
  list-style: none;
}
